* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/* Main */
h1 {
  font-size: 80px;
  font-family: "Unbounded", cursive;
  font-weight: 400;
  color: #00b849;
}
h2 {
  font-family: "Unbounded", cursive;
  font-weight: 400;
  font-size: 40px;
  margin-top: 30px;
  border-bottom: solid 2px #00b849;
  margin-bottom: 100px;
}
h3 {
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
h4 {
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
p {
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
body {
  max-width: 1000px;
  margin-inline: auto;
  margin: 80px;
}
/* Nav */
ul {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  margin-inline: 30px;
  padding: 10px 0px 10px 0px;
  justify-content: end;
  gap: 8px;
}
header a {
  color: black;
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
/* product */
.productSite img {
  width: 80%;
}
.basket {
  background-color: #aceab8;
  padding: 25px;
}
.basket button {
  background-color: black;
  border-radius: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  width: 60%;
  padding: 5px;
  margin-top: 20px;
}

.basket h3 {
  font-size: 40px;
  color: black;
  font-weight: 500;
}
.basket h4 {
  font-size: 25px;
  color: black;
  font-weight: 500;
}
.basket {
  font-size: 20px;
  color: black;
}
.basket div {
  margin-top: 7px;
  margin-bottom: 7px;
}
label {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  color: black;
  font-weight: 500;
}
select {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 400;
  border-radius: 10px;
  width: 60px;
}

.offerPrice2 {
  font-size: 25px;
  color: #00b849;
}

/* Category */
.category_list {
  margin-top: 100px;
}
.category_list ul {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.category_list li {
  border: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.category_list a {
  text-decoration: none;
  border-bottom: 2px solid #00b849;
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

/* Productlist */
.grid_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
  margin-top: 25px;
}
.grid_1 h2 {
  grid-column: 1/-1;
}
.grid_1 h3 {
  font-size: 25px;
  color: black;
  font-family: "Unbounded", sans-serif;
}
.grid_1 h4 {
  font-size: 20px;
  color: black;
  font-weight: 500;
}
.grid_1 {
  font-size: 15px;
  color: black;
  font-weight: 400;
}
.grid_1 a {
  font-size: 15px;
  text-decoration: underline;
  color: black;
}

.smallProduct {
  position: relative;
}

.offer img {
  opacity: 60%;
}
.offer::before {
  content: "Sale";
  font-size: 20px;
  color: #00b849;
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 30;
}

.offerPrice {
  font-size: 15px;
  color: #00b849;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.strikethrough {
  text-decoration: line-through;
}

.soldOut img {
  opacity: 60%;
}

.soldOut::before {
  content: "Sold Out";
  font-size: 30px;
  color: #00b849;
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
  position: absolute;
  top: 40%;
  right: 25%;
  z-index: 30;
}

/* footer */
footer p {
  color: black;
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
